<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>${options.packageJson.name} - IE test</title>
    <script>
        if (!('customElements' in window)) {
            document.write('<' + 'script src="/' + '/cdnjs.cloudflare.com/ajax/libs/core-js/2.5.3/core.min.js"></' + 'script>');
            document.write('<' + 'script src="/' + '/rawgit.com/webcomponents/webcomponentsjs/master/webcomponents-bundle.js"></' + 'script>');
            console.log("CE pollyfill requested");
        }
    </script>
</head>
<body>
<!-- ie-test-bundle.js is created in /dev folder after running `npm run build:ie` -->
<script src="ie-test-bundle.js"></script>
</body>
</html>